/* Reset básico */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos globales */
body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

/* Caja de ejemplo */
.caja {
    background: #1062ff;
    color: #fff;
    padding: 40px;
    font-size: 24px;
    border-radius: 5px;
}

/* ==============================
   Contenedor principal (Flexbox)
   ============================== */
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    border: 4px solid #000;
    padding: 40px;

    display: flex;   /* Activa Flexbox */
    gap: 40px;       /* Espacio entre hijos */
}

/* ==============================
   Ejemplo con flex-basis
   ============================== */
.basis .caja {
    flex-basis: 150px; /* Tamaño base inicial */
}

.basis .especial {
    flex-basis: 300px; /* La caja especial arranca más grande */
}

/* ==============================
   Ejemplo con flex-grow
   ============================== */
.grow .caja {
    /* flex-basis: 200px;  tamaño base inicial */
    /* flex-grow: 1; cada caja ocupa 1 parte del espacio sobrante */
}

.grow .especial {
    flex-grow: 3; /* Esta crecerá 3 veces más que las demás */
}

/* ==============================
   Ejemplo con flex-shrink
   ============================== */
.basis .caja {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;

    /* Equivalente a usar: flex: 1 1 400px; */
}

.basis .especial {
    flex-shrink: 3; /* Se encogerá 3 veces más que las demás si falta espacio */
}

/* ==============================
   Ejemplo con order
   ============================== */
/* Nota: order cambia el orden visual de los elementos en el contenedor */
.contenedor.order .caja.uno {
    order: 10;
    background: red;
}

.order .caja.uno {
    order: 4;
    background: red;
}

.order .caja.dos {
    order: 3;
    background: red;
}

.order .caja.tres {
    order: 2;
    background: red;
}

.order .caja.cuatro {
    order: 1;
    background: red;
}
