@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Merriweather', serif;
    --font-titulo: 'Oswald', sans-serif;

    --color-primario: #4F46E5;
    --color-secundario: #3B82F6;

    --color-detalles-100: #E0E7FF;
    --color-detalles-200: #C7D2FE;
}