@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Merriweather', serif;
    --font-titulo: 'Oswald', sans-serif;

    --color-primario: #4F46E5;
    --color-secundario: #3B82F6;

    --color-detalles-100: #E0E7FF;
    --color-detalles-200: #C7D2FE;
    --background-image-comida: url('../../CSS/imagenes/comida.svg');
    --background-image-hero: url('https://images.unsplash.com/photo-1763085674068-e4d4bbdd4650?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    --background-image-hero2: url('https://images.unsplash.com/photo-1762767527282-76e8a5d326e2?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    --animate-boton: latido 1s ease-in-out infinite;

    @keyframes latido {
        0% {
            transform: scale(1)
        }
        50% {
                        transform: scale(1.1)
        }
        100% {
                        transform: scale(1)
        }
    }
}