:root {
  --primario: #076ac2;
  --sombra-card: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: top;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* --- HEADER --- */
.card {
  width: 100%;
  display: grid;
  grid-template-columns: auto 60%;
  color: #000;
  box-shadow: var(--sombra-card);
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    text-decoration: none;
  }

  .thumb {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(105%);
      transition: 0.3s ease all;
    }
  }

  &:hover .thumb img {
    transform: scale(100%);
  }
}

/* --- HEADER --- */
.header {
  background: #000;
  color: #fff;
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 40px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      width: 10vw;
      min-width: 150px;
    }

    .btn-menu {
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: none;
      color: #fff;
      border-radius: 5px;
      padding: 10px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      display: none;
      align-items: center;
      gap: 7px;
      cursor: pointer;
      transition: 0.3s ease all;
      &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
      }
      .icono {
        width: 20px;
        height: 20px;
      }
    }
  }

  .navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    a {
      color: #fff;
      padding: 10px 15px;
      display: block;
      &:hover {
        background: var(--primario);
        text-decoration: none;
        transition: 0.2s ease all;
      }
    }
  }

  @media screen and (max-width: 576px) {
    & {
      .logo {
        justify-content: space-between;

        .btn-menu {
          display: flex;
        }
      }

      .contenedor-navbar {
        display: none;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        &.active {
          display: block;
        }

        .navbar {
          background: #000;
          width: 70%;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-start;
          padding-top: 46px;

          a {
            padding: 20px;
          }
        }
      }
    }
  }
}

/* --- MAIN --- */
.main {
  /* --- NOTICIAS PRINCIPALES --- */
  .noticias-principales {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 20px;
    margin-bottom: 40px;

    img {
      width: 100%;
    }

    .principal {
      position: relative;
      .thumb {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(105%);
          transition: 0.3s ease all;
        }
      }

      &:hover img {
        transform: scale(100%);
      }

      .info {
        background: #fff;
        box-shadow: var(--sombra-card);
        padding: 20px;
        position: absolute;
        bottom: 40px;
        left: -40px;
        width: 70%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .titulo {
          font-size: 26px;
          line-height: 140%;
          color: #000;
        }

        .meta {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          font-size: 14px;

          .categoria {
            font-weight: 600;
          }

          .fecha {
            color: #3c3c3c;
          }
        }

        .extracto {
          color: #0a0a0a;
          line-height: 24px;
          font-size: 14px;
        }
      }
    }
  }
}
