*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    border-size: border-box;
}

body {
    background: #929090ff;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid img {
    width: 100%; /* 100% de la celda (contenedor padre) */
}

.grid article h3{
    font-size: 32px;
}

@media print {
    .grid {
        grid-template-columns: 1fr;
    }
    
    .grid img {                 /* ← Selector completo separado */
        height: 200px;
        width: auto;
        filter: grayscale(100%);
    }
    
    .grid a {                   /* ← Selector completo separado */
        display: none;
    }
}

@media screen and (max-width: 1000px) { /*se ejecuta en pantalla y solo si la pantalla es menor a 1000px... */
    body {
        background: #b31111ff;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){
    .grid {
        grid-template-columns: 1fr;
    }
}